$rem-baseline: 10px;

html {
	@include rem-baseline;
}

#app {
	background: #232526;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to top, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  height: 100vh;
}

.component {
	transition: all 300ms ease-in-out;
}

.component--hidden {
	opacity: 0;
}

.component--reveal {
	opacity: 1;
}

.grid-wrap {
	height: calc(100vh - 60px); // 60px is the height of the header
}

button {
	cursor: pointer;
}

header {
	position: relative;
	z-index: 8;
}
