@import url('https://fonts.googleapis.com/css?family=VT323');
@import 'common/styles/mixins/rem';
@import 'common/styles/general';

.section {
  //padding: 30px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  font-family: 'VT323', monospace;
  font-size: rem(14px);
}
